@media only screen and (max-device-width: 800px) {
    .show-mobile {
        display: inline-block;
    }

    h1,
    a,
    p {
        color: #fff;
        font-family:Courier;
        text-decoration: none;
    }

    p>a {
        color: #fd084a;
    }

    .blink {
        animation: blink 0.5s infinite;
    }

    @keyframes blink {
        to {
            opacity: .0;
        }
    }

    .flex {
        display: flex;
    }

    animation-box {
        width: 75%;
        height: 27.5rem;
        background-color: blue;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }

    .animation-container {
        width: 1000rem;
        height: 30rem;
    }

    @keyframes topFadeOut {
        0% {
            position: absolute;
            top: -3rem;
            opacity: 0;
        }

        75% {
            position: absolute;
            top: 25%;
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes topFadeIn {
        0% {
            position: absolute;
            top: -3vw;
            opacity: 0;
        }

        100% {
            position: absolute;
            top: 25%;
            opacity: 1;
        }
    }

    @keyframes bottomFadeOut {
        0% {
            position: absolute;
            bottom: -5rem;
            opacity: 0;
        }

        75% {
            position: absolute;
            bottom: 25%;
            opacity: 1;
        }

        100% {
            opacity: 0;
        }

    }

    @keyframes topFadeOutVertical {
        0% {
            position: absolute;
            top: -3rem;
            opacity: 0;
        }

        75% {
            position: absolute;
            top: 45%;
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes rightFadeInOut {
        0% {
            position: absolute;
            right: -3rem;
            opacity: 0;
        }

        75% {
            position: absolute;
            right: 10rem;
            opacity: 1;
        }

        100% {
            opacity: 0;
            right: 10rem;
        }
    }

    @keyframes rightFadeIn {
        0% {
            position: absolute;
            right: -3vw;
            opacity: 0;
        }

        100% {
            position: absolute;
            right: 0vw;
            opacity: 1;
        }
    }

    @keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        45% {
            opacity: 1;
        }

        100% {
            opacity: 0%;
        }
    }

    .first-text {
        font-size: 4vw;
        font-family: "Courier";
        position: absolute;
        left: 2.5rem;
        top: 5rem;
        opacity: 0;
        animation-name: topFadeOut;
        animation-duration: 5s;
        color: white;
    }

    .second-text {
        font-family: "Courier";
        font-size: 3vw;
        position: absolute;
        top: 8.5rem;
        opacity: 0;
        animation-name: rightFadeInOut;
        animation-delay: 3s;
        animation-duration: 6s;
        color: rgb(255, 255, 255);
    }

    .third-text {
        transform: rotate(-90deg);
        font-family: "Courier";
        font-size: 2vw;
        position: absolute;
        left: 45%;
        top: 45%;
        opacity: 0;
        animation-name: topFadeOutVertical;
        animation-delay: 7.5s;
        animation-duration: 6s;
        color: #A3DDF0;
        white-space: nowrap;
    }

    .fourth-text {
        font-size: 3vw;
        font-family: "Courier";
        position: absolute;
        top: 10.5rem;
        left: 10%;
        opacity: 0;
        color: #F0A3BE;
        animation-name: fadeInOut;
        animation-delay: 8.5s;
        animation-duration: 9s;
    }

    .fifth-text {
        font-size: 4vw;
        font-family: "Courier";
        position: absolute;
        left: 5%;
        bottom: 25%;
        opacity: 0;
        color: #2b2b2b;
        animation-name: bottomFadeOut;
        animation-delay: 10s;
        animation-duration: 9s;
    }

    .card-Anabil {
        background: #fff;
        border-radius: 2px;
        display: flex;

        position: relative;
        width: 100%;
        animation: fade 0.5s ease-out 0.2s forwards 1;
        height: auto;
    }

    .card-5 {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        animation: rightFadeIn 1s linear forwards 1
    }

    .education {

        background: crimson;
        border-radius: 2px;
        display: grid;
        margin: 1rem;
        position: relative;
        width: 75%;
        top: 55vw;
        aspect-ratio: 260/410;
        height: auto;
        left: 7vw;
        justify-content: center;
        align-items: center;

    }

    .col1 iframe {
        height: 100vw;
        width: 95vw;
        left: 2.7vw;
        top: 13vw;
        position: relative;
        margin: auto;
        display: inline-block;
    }

    .Japanease {
        width: 90%;
        left: 5vw;
    }

    .header-sub-title {
        color: #fff;
        font-family: "Courier";
        font-size: 3vw;
        padding-left: 0.1em;

    }

    .header-sub-title2 {
        color: #fff;
        font-family: "Courier";
        font-size: 3vw;
        padding-left: 6.1em;

    }

    .show-website {
        display: none;
    }
}